<h1>パスワード一覧</h1>

<div>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ラベル</th>
        <th>パスワード</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @keys.each do |key| %>
        <tr>
          <td><%= key.key_label %></td>
          <td><%= key.key %></td>
          <td>
            <%= link_to '詳細', key_path(key), class: 'btn btn-secondary mr-3' %>
            <%= link_to '編集', edit_key_path(key), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>