<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'PasswordGenerator', new_key_path, class: 'navbar-brand' %>
  <ul class='navbar-nav'>
    <li class='nav-item'>
      <%= link_to 'Password一覧', keys_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>